html {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.title {
  font-size: 4rem;
}

.sentence {
  font-size: 2rem;
}

.banner {
  max-height: 500px;
  position: relative;
}

.content {
  max-width: 50em;
  position: absolute;
  bottom: 0;
  left:0;
}

.img-flex {
  display: block;
  width: 100%;
}
