html {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-weight: normal;
  font-weight: bold;
}

p {
  font-size: 2rem;
  font-style: italic;
}

.banner {
  max-height: 500px;
  overflow: hidden;
}

.container {
  max-width: 50em;
  position: relative;
}

.content {
  position: absolute;
  left: 0;
  bottom: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}
